[data-organism="boxtop"] {
	position: relative;
	&:before {
		background: #d5d2e3;
		width: 900%;
		height: 100%;
		content: '';
		position: absolute;
		right: 57px;
		top: 0;
	}
	h1 {
		color: #5f5d66;
		font-size: em(36);
		font-family: $font_serif--italic-bold;
		text-transform: none;
		margin-top: -16px;
		margin-bottom: 0;
	}
	p {
		font-size: em(19);
		line-height: 160%;
		margin-top: 10px;
	}
	.content {
		position: relative;
		bottom: -50px;
		padding: 0 90px 0 20px;
	}
	.img-wrap {
		margin-left: -110px;
	}
	figure {
		margin-top: -200px;
		@include inline-block;
		position: relative;
		z-index: 10;
		&:before {
			width: 100%;
			height: 15%;
			content: '';
			position: absolute;
			left: 0;
			bottom: -6%;
			@include background(radial-gradient(ellipse farthest-corner, rgba(black,.6) 0%, rgba(0,0,0,0) 70%));
		}
		img {			
			position: relative;
		}
		&.barbie2 {
			left: -40px;
			top: 20px;
		}
	}
}