[data-organism="bullets"] {
	margin-bottom: 20px;
	h1 {
		color: #a97d35;
		font-size: em(15);
	}
	h2 {
		color: #e0c167;
		font-family: $font_sans-serif--bold;
		font-size: em(12);
		text-transform: uppercase;
	}
	hgroup {
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		margin: 14px 0 25px;
		h1,
		h2 {
			@include inline-block;
		}
	}
	.grid {
		display: table;
		table-layout: fixed;
	}
	li {
		display: table-cell;
		vertical-align: bottom;
		span {
			@include inline-block;
			width: 100%;
			vertical-align: bottom;
			color: #e0e0e0;
			font-family: $font_sans-serif--heading;
			text-transform: uppercase;
			line-height: 110%;
			text-align: center;
		}
		.image {
			display: block;
			height: 218px;
			margin: 0 auto;
			margin-bottom: -48px;
			position: relative;
		}
		.size {
			font-size: em(79);
		}
		.model {
			font-size: em(28);
		}
		.type {
			font-size: em(32);
			text-transform: none;
		}
		&.smaller {
			.size {
				font-size: em(31);
			}
			.image {
				margin-bottom: -18px;
			}
			.model {
				font-size: em(40);
			}
			.type {
				font-size: em(39);
			}
		}
		&.bigger {
			.size {
				font-size: em(87);
			}
			.image {
				margin-bottom: -68px;
			}
			.model {
				font-size: em(38);
			}
			.type {
				font-size: em(31);
			}
		}
		&[data-atom="remington"] {
			.image {
				width: 84px;
				@include bulletSprite-sprite(graphic_bullets--remington);
			}
		}
		&[data-atom="winchester"] {
			.image {
				width: 92px;
				height: 273px;
				@include bulletSprite-sprite(graphic_bullets--winchester);
			}
		}
		&[data-atom="russian"] {
			.image {
				width: 98px;
				@include bulletSprite-sprite(graphic_bullets--russian);
			}
		}
		&[data-atom="thumper"] {
			.image {
				width: 85px;
				@include bulletSprite-sprite(graphic_bullets--thumper);
			}
		}
		&[data-atom="thumper2"] {
			.image {
				width: 87px;
				height: 221px;
				@include bulletSprite-sprite(graphic_bullets--thumper2);
			}
		}
	}
}