[data-organism="famous"] {
	background: #71625a;
	h1 {
		color: white;
		font-size: em(49);
		margin: 17px 0;
	}
	p {
		font-family: $font_serif;
		color: white;
		font-size: em(26);
		line-height: 140%;
	}
	a {
		display: block;
		margin-top: 40px;
		color: white;
		@include opacity(.5);
	}
	.img-wrap {
		position: relative;
		@extend .fullwidth;
		img {
			width: 100%;
		}
	}
	.content {
		padding: 0 10px 20px;
	}



	.hover-content-fold {
	    width:142px;
	    height:142px;
	    position:absolute;
	    bottom:0;
	    right:0;
	    @include transition(ease .5s);
	    &:hover{
		    width:300%;
		    height:300%;
	   		@include transition(ease 1.5s);
		}
	}
	.hover-content {
	    overflow:hidden;
	    width:120px;
	    height:120px;
	    position:absolute;
	    bottom:0;
	    right:0;
    	@include transition(ease .5s);
    	iframe {
    		left: 17px;
    		position: relative;
    	}
	    &:hover {
		    width:100%;
		    height:100%;
	    	@include transition(ease 1s);
	    	iframe {
	    		left: 0;
	    	}
	    }
	}
}