[data-organism="feature"] {
	position: relative;
	margin-top: -457px;
	margin-left: -27px;
	h1 {
		color: #fdcd84;
		font-size: em(75);
		line-height: 110%;
		position: relative;
		&:before {
			content: 'Feature';
			display: block;
			font-size: em(3);
			line-height: 130%;
			font-family: $font_serif;
			color: #cbb8a0;
		}
	}
	p {
		font-size: em(25);
		font-family: $font_serif;
	}
	.img-wrap {
		position: relative;
		&:before {
			width: 196%;
			height: 15%;
			content: '';
			position: absolute;
			left: -89%;
			bottom: -12%;
			@include background(radial-gradient(ellipse farthest-corner, rgba(black,.6) 0%, rgba(0,0,0,0) 36%));
		}
	}
	img {
		display: block;
		margin: 0 0 -238px -100px;
		border: 9px solid #f7f0de;
		@include transform(rotate(-5deg));
	}
}