[data-organism="newspaper"] {
	padding-right: 30px;
	h1 {
		color: black;
		font-size: em(79);
		margin: 0;
		border-bottom: 21px solid black;
	}
	h2 {
		font-size: em(35);
		border-bottom: 3px solid black;
		font-family: $font_sans-serif--heading;
		margin: 0;
		padding-bottom: 8px;
	}
	.content {
		margin-top: 10px;
	}
	p {
		display: inline;
		font-size: em(22);
		line-height: 130%;
		font-family: $font_serif;
		&:before {
			content: '\2022 ';
			font-family: $font_sans-serif;
		}
		&:first-child {
			&:before {
				content: '';
			}
		}
	}
}