[data-organism="sideoff"] {
	h2 {
		color: #24795a;
		font-size: em(21);
		font-family: $font_sans-serif--heading;
		margin-bottom: 10px;
	}
	p {
		margin-top: 10px;
		font-size: em(14);
		line-height: 140%;
	}
	img {
		margin: 12px 0 -30px;
		position: relative;
	}
}