[data-organism="skewed"] {
	h1 {
		color: rgba(#a0b4c0,.7);
		font-size: em(82);
		background: url(#{$path_img}/graphic_skewed.png) no-repeat;
		padding: 50px 60px 150px;
		margin: -50px -30px -150px;
		@include transform(rotate(4deg));
	}
	p {
		color: #5e6c74;
		font-size: em(16);
		line-height: 140%;
		font-family: $font_serif--italic;
		margin: 20px 0;
		&.skewright {
			@include transform(rotate(4deg));
		}
		&.skewleft {
			@include transform(rotate(-1deg));
		}
	}
}