$color_blue--light: #3a83bb;

[data-organism="tickets"] {
	background: $color_blue--light;
	padding: 0 15px;
	figure {
		position: relative;
		&:before {
			width: 140%;
			height: 15%;
			content: '';
			position: absolute;
			left: -20%;
			bottom: -6%;
			@include background(radial-gradient(ellipse farthest-corner, rgba(black,.6) 0%, rgba(0,0,0,0) 70%));
		}
		img {
			margin: -50px auto 0;
			display: block;
		}
	}
	h1 {
		color: white;
		font-size: em(32);
		border-bottom: 8px solid lighten($color_blue--light,10%);
		line-height: 90%;
		padding-bottom: 10px;
		small {
			font-size: 70%;
		}
	}
	h2 {
		color: lighten($color_blue--light,10%);
		text-transform: uppercase;
		font-family: $font_sans-serif--heading;
		margin: 0;
		font-size: em(32);
		small {
			font-size: 40%;
			display: block;
		}
	}
	i {
		font-family: $font_serif--italic;
		color: white;
	}
	aside {
		border-top: 3px dashed shade($color_blue--light, 50%);
		position: relative;
		margin: 0 -6.5%;
		.aside-content {
			margin: 25px 6.5%;
			position: relative;
		}
		&.special {
			text-align: center;
			h2 {
				@include inline-block;
				margin: 0 auto;
				position: relative;
				small {
					position: relative;
					padding: 0 10px;
					background: $color_blue--light;
				}
				&:before {
					height: 12px;
					display: block;
					content: '';
					background: lighten($color_blue--light,10%);
					position: absolute;
					top: 4px;
					left: 0;
					width: 180%;
					margin: 0 -40%;
				}
			}
			span,
			time {
				font-size: em(27);
				text-transform: uppercase;
				display: block;
				&.country {
					font-size: em(29);
				}
			}
			time {
				font-size: em(40);
			}
		}
		&:before {
			content: '';
			width: 100%;
			height: 5px;
			position: absolute;
			top: 0;
			left: 0;
			background: shade($color_blue--light, 10%);
		}
		meter {
			width: 100%;
			margin-top: 20px;
		}
		span,
		time {
			font-family: $font_sans-serif--heading;
			color: white;
			&.country {
				color: lighten($color_blue--light,10%);
			}
			&.value {
				position: absolute;
				top: -10px;
				right: 0;
				font-size: em(54);
			}
		}
	}
}