/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* normalize.scss 2.2.0+normalize.2.1.3 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 71, ../bower_components/normalize.scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 81, ../bower_components/normalize.scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 94, ../bower_components/normalize.scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 105, ../bower_components/normalize.scss/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
/* line 121, ../bower_components/normalize.scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 153, ../bower_components/normalize.scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 165, ../bower_components/normalize.scss/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 173, ../bower_components/normalize.scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 182, ../bower_components/normalize.scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 211, ../bower_components/normalize.scss/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 261, ../bower_components/normalize.scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 270, ../bower_components/normalize.scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 278, ../bower_components/normalize.scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 286, ../bower_components/normalize.scss/_normalize.scss */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 295, ../bower_components/normalize.scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 307, ../bower_components/normalize.scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 319, ../bower_components/normalize.scss/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 334, ../bower_components/normalize.scss/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 342, ../bower_components/normalize.scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 351, ../bower_components/normalize.scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 358, ../bower_components/normalize.scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 362, ../bower_components/normalize.scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 427, ../bower_components/normalize.scss/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 439, ../bower_components/normalize.scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 451, ../bower_components/normalize.scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 473, ../bower_components/normalize.scss/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 489, ../bower_components/normalize.scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
/* line 507, ../bower_components/normalize.scss/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 523, ../bower_components/normalize.scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 535, ../bower_components/normalize.scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 552, ../bower_components/normalize.scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 565, ../bower_components/normalize.scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 577, ../bower_components/normalize.scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 592, ../bower_components/normalize.scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 603, ../bower_components/normalize.scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 612, ../bower_components/normalize.scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 622, ../bower_components/normalize.scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 635, ../bower_components/normalize.scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Grid
   ========================================================================== */
/*
 * Example uses:
 *
 * <div class="grid">
 *     <div class="grid__cell unit-1-2"></div>
 *     <div class="grid__cell unit-1-2"></div>
 *     <div class="grid__cell unit-1-3"></div>
 *     <div class="grid__cell unit-1-3"></div>
 * </div>
 *
 * <div class="grid grid--center">
 *     <div class="grid__cell unit-1-3"></div>
 *     <div class="grid__cell unit-1-3"></div>
 * </div>
 */
/* Grid core
   ========================================================================== */
/**
 * Grid container
 * Must only contain `.grid` or `.grid__cell` components as children.
 *
 * 1. Adjustment for child element margins.
 * 2. Ensure consistent default alignment/
 * 3. Remove inter-unit whitespace that appears between `inline-block` child
 *    elements. Work for all non-monospace font-families.  If you're using a
 *    monospace base font, you will need to set the `grid` font-family to
 *   `sans-serif` and then redeclare the monospace font on the `grid__cell`
 *    objects.
 * 4. Protect against WebKit bug with optimizelegibility.
 */
/* line 44, ../bower_components/griddle/_griddle.scss */
.grid {
  display: block;
  padding: 0;
  margin: 0 -1%;
  /* 1 */
  text-align: left;
  /* 2 */
  letter-spacing: -0.31em;
  /* 3 */
  text-rendering: optimizespeed;
  /* 4 */
}

/**
 * Opera hack
 */
/* line 58, ../bower_components/griddle/_griddle.scss */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
  /* 3 */
}

/**
 * Child `grid` object adjustments
 * Used for more complex fixed-fluid hybrid grids.
 */
/* line 67, ../bower_components/griddle/_griddle.scss */
.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

/**
 * Grid units
 * No explicit width by default. Apply `.unit-x-y` classes.
 *
 * 1. Fundamentals of the non-float grid layout mechanism.
 * 2. Apply grid gutter.
 * 3. Controls vertical positioning of units.
 * 4. Keeps content correctly aligned with the grid direction.
 * 5. Reset text defaults.
 */
/* line 84, ../bower_components/griddle/_griddle.scss */
.grid__cell {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  /* 1 */
  margin: 0;
  padding: 0 1%;
  /* 2 */
  vertical-align: top;
  /* 3 */
  text-align: left;
  /* 4 */
  letter-spacing: normal;
  /* 5 */
  word-spacing: normal;
  /* 5 */
  text-rendering: auto;
  /* 5 */
}

/* Grid modifiers
   ========================================================================== */
/**
 * Modifier: horizontally center all grid units
 * Allows for automatic unit centering irrespective of the number of
 * units in the grid.
 */
/* line 107, ../bower_components/griddle/_griddle.scss */
.grid--center {
  text-align: center;
}

/**
 * Modifier: align horizontally all grid units to the left
 */
/* line 115, ../bower_components/griddle/_griddle.scss */
.grid--left {
  text-align: left;
}

/**
 * Modifier: align horizontally all grid units to the right
 */
/* line 123, ../bower_components/griddle/_griddle.scss */
.grid--right {
  text-align: right;
}

/* Grid cell modifiers
   ========================================================================== */
/**
 * Modifier: horizontally center one unit
 * Set a specific unit to be horizontally centered. Doesn't affect
 * any other units. Can still contain a child `grid` object.
 */
/* line 136, ../bower_components/griddle/_griddle.scss */
.grid__cell--center {
  display: block;
  margin: 0 auto;
}

/**
 * Modifier: align horizontally one unit to the left
 * Set a specific unit to be horizontally on the left. Doesn't affect
 * any other units. Can still contain a child `grid` object.
 */
/* line 147, ../bower_components/griddle/_griddle.scss */
.grid__cell--left {
  display: block;
  margin-right: auto;
}

/**
 * Modifier: align horizontally one unit to the right
 * Set a specific unit to be horizontally on the right. Doesn't affect
 * any other units. Can still contain a child `grid` object.
 */
/* line 158, ../bower_components/griddle/_griddle.scss */
.grid__cell--right {
  display: block;
  margin-left: auto;
}

/* Proportional units
   ========================================================================== */
/*
 * Specify the proportional width of an object.
 * Primarily for, but not limited to, use with `.grid__cell` components.
 * Intentional redundancy build into each set of unit classes.
 */
/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-1-12 {
  width: 8.33333%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-2-12 {
  width: 16.66667%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-3-12 {
  width: 25%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-4-12 {
  width: 33.33333%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-5-12 {
  width: 41.66667%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-6-12 {
  width: 50%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-7-12 {
  width: 58.33333%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-8-12 {
  width: 66.66667%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-9-12 {
  width: 75%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-10-12 {
  width: 83.33333%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-11-12 {
  width: 91.66667%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-1-5 {
  width: 20%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-2-5 {
  width: 40%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-3-5 {
  width: 60%;
}

/* line 61, ../bower_components/griddle/_griddle-build.scss */
.unit-4-5 {
  width: 80%;
}

/* line 49, sass/_options.scss */
.grid__cell {
  word-wrap: break-word;
}
@media (max-width: 600px) {
  /* line 49, sass/_options.scss */
  .grid__cell {
    width: 100%;
    display: block !important;
  }
}

/* line 74, bulletSprite/*.png */
.bulletSprite-sprite, [data-organism="bullets"] li[data-atom="remington"] .image, [data-organism="bullets"] li[data-atom="winchester"] .image, [data-organism="bullets"] li[data-atom="russian"] .image, [data-organism="bullets"] li[data-atom="thumper"] .image, [data-organism="bullets"] li[data-atom="thumper2"] .image {
  background: url('../images/bulletSprite-sc057c267df.png') no-repeat;
}

@font-face {
  font-family: "Merriweather Light";
  src: url('../fonts/merriweather/merriweather_light.eot#iefix');
  src: url('../fonts/merriweather/merriweather_light.eot#iefix?#iefix') format('eot'), url('../fonts/merriweather/merriweather_light.eot') format('embedded-opentype'), url('../fonts/merriweather/merriweather_light.ttf') format('truetype'), url('../fonts/merriweather/merriweather_light.woff') format('woff');
}

@font-face {
  font-family: "Merriweather Black";
  src: url('../fonts/merriweather/merriweather_black.eot#iefix');
  src: url('../fonts/merriweather/merriweather_black.eot#iefix?#iefix') format('eot'), url('../fonts/merriweather/merriweather_black.eot') format('embedded-opentype'), url('../fonts/merriweather/merriweather_black.ttf') format('truetype'), url('../fonts/merriweather/merriweather_black.woff') format('woff');
}

@font-face {
  font-family: "Lora";
  src: url('../fonts/lora/lora.eot#iefix');
  src: url('../fonts/lora/lora.eot#iefix?#iefix') format('eot'), url('../fonts/lora/lora.eot') format('embedded-opentype'), url('../fonts/lora/lora.ttf') format('truetype'), url('../fonts/lora/lora.woff') format('woff');
}

@font-face {
  font-family: "Lora Italic";
  src: url('../fonts/lora/lora_italic.eot#iefix');
  src: url('../fonts/lora/lora_italic.eot#iefix?#iefix') format('eot'), url('../fonts/lora/lora_italic.eot') format('embedded-opentype'), url('../fonts/lora/lora_italic.ttf') format('truetype'), url('../fonts/lora/lora_italic.woff') format('woff');
}

@font-face {
  font-family: "Lora Bold Italic";
  src: url('../fonts/lora/lora_bold_italic.eot#iefix');
  src: url('../fonts/lora/lora_bold_italic.eot#iefix?#iefix') format('eot'), url('../fonts/lora/lora_bold_italic.eot') format('embedded-opentype'), url('../fonts/lora/lora_bold_italic.ttf') format('truetype'), url('../fonts/lora/lora_bold_italic.woff') format('woff');
}

@font-face {
  font-family: "Lato";
  src: url('../fonts/lato/lato.eot#iefix');
  src: url('../fonts/lato/lato.eot#iefix?#iefix') format('eot'), url('../fonts/lato/lato.eot') format('embedded-opentype'), url('../fonts/lato/lato.ttf') format('truetype'), url('../fonts/lato/lato.woff') format('woff');
}

@font-face {
  font-family: "Lato Bold";
  src: url('../fonts/lato/lato_bold.eot#iefix');
  src: url('../fonts/lato/lato_bold.eot#iefix?#iefix') format('eot'), url('../fonts/lato/lato_bold.eot') format('embedded-opentype'), url('../fonts/lato/lato_bold.ttf') format('truetype'), url('../fonts/lato/lato_bold.woff') format('woff');
}

@font-face {
  font-family: "Lato Hairline";
  src: url('../fonts/lato/lato_hairline.eot#iefix');
  src: url('../fonts/lato/lato_hairline.eot#iefix?#iefix') format('eot'), url('../fonts/lato/lato_hairline.eot') format('embedded-opentype'), url('../fonts/lato/lato_hairline.ttf') format('truetype'), url('../fonts/lato/lato_hairline.woff') format('woff');
}

@font-face {
  font-family: "Oswald";
  src: url('../fonts/oswald/oswald.eot#iefix');
  src: url('../fonts/oswald/oswald.eot#iefix?#iefix') format('eot'), url('../fonts/oswald/oswald.eot') format('embedded-opentype'), url('../fonts/oswald/oswald.ttf') format('truetype'), url('../fonts/oswald/oswald.woff') format('woff');
}

/* line 5, sass/_base.scss */
html {
  overflow-y: auto;
}

/* line 9, sass/_base.scss */
body {
  font-family: "Lato", Arial, sans-serif;
  color: black;
}
@media screen and (max-width: 981px) {
  /* line 13, sass/_base.scss */
  body > .page-width {
    overflow: hidden;
  }
}

/* line 19, sass/_base.scss */
.screenreader {
  display: none;
}

/* line 23, sass/_base.scss */
.page-width {
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

/* line 33, sass/_base.scss */
a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 36, sass/_base.scss */
a img {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 39, sass/_base.scss */
a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 41, sass/_base.scss */
a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 47, sass/_base.scss */
h1 {
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: normal;
}

/* line 53, sass/_base.scss */
.alignright {
  text-align: right;
}

/* line 56, sass/_base.scss */
.aligncenter {
  text-align: center;
}

/* line 60, sass/_base.scss */
.fullwidth, [data-organism="famous"] .img-wrap {
  max-width: 102%;
  margin: 0 -1%;
  width: 102%;
}

/* line 72, sass/_base.scss */
.fullscreen-bg img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 980px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 980px) {
  /* line 87, sass/_base.scss */
  .fullscreen-bg img {
    left: 50%;
    margin-left: -490px;
  }
}

/* line 1, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] {
  position: relative;
}
/* line 3, sass/organisms/_boxtop.scss */
[data-organism="boxtop"]:before {
  background: #d5d2e3;
  width: 900%;
  height: 100%;
  content: '';
  position: absolute;
  right: 57px;
  top: 0;
}
/* line 12, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] h1 {
  color: #5f5d66;
  font-size: 2.25em;
  font-family: "Lora Bold Italic", Times, "Times New Roman", serif;
  text-transform: none;
  margin-top: -16px;
  margin-bottom: 0;
}
/* line 20, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] p {
  font-size: 1.1875em;
  line-height: 160%;
  margin-top: 10px;
}
/* line 25, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] .content {
  position: relative;
  bottom: -50px;
  padding: 0 90px 0 20px;
}
/* line 30, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] .img-wrap {
  margin-left: -110px;
}
/* line 33, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] figure {
  margin-top: -200px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  z-index: 10;
}
/* line 38, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] figure:before {
  width: 100%;
  height: 15%;
  content: '';
  position: absolute;
  left: 0;
  bottom: -6%;
  background: -webkit-gradient(radial, ellipse farthest-corner, 0, ellipse farthest-corner, 70, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(70%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
  background: -moz-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
  background: -o-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
  background: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
}
/* line 47, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] figure img {
  position: relative;
}
/* line 50, sass/organisms/_boxtop.scss */
[data-organism="boxtop"] figure.barbie2 {
  left: -40px;
  top: 20px;
}

/* line 1, sass/organisms/_bullets.scss */
[data-organism="bullets"] {
  margin-bottom: 20px;
}
/* line 3, sass/organisms/_bullets.scss */
[data-organism="bullets"] h1 {
  color: #a97d35;
  font-size: 0.9375em;
}
/* line 7, sass/organisms/_bullets.scss */
[data-organism="bullets"] h2 {
  color: #e0c167;
  font-family: "Lato Bold", Arial, sans-serif;
  font-size: 0.75em;
  text-transform: uppercase;
}
/* line 13, sass/organisms/_bullets.scss */
[data-organism="bullets"] hgroup {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 14px 0 25px;
}
/* line 18, sass/organisms/_bullets.scss */
[data-organism="bullets"] hgroup h1,
[data-organism="bullets"] hgroup h2 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 22, sass/organisms/_bullets.scss */
[data-organism="bullets"] .grid {
  display: table;
  table-layout: fixed;
}
/* line 26, sass/organisms/_bullets.scss */
[data-organism="bullets"] li {
  display: table-cell;
  vertical-align: bottom;
}
/* line 29, sass/organisms/_bullets.scss */
[data-organism="bullets"] li span {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  vertical-align: bottom;
  color: #e0e0e0;
  font-family: "Oswald", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 110%;
  text-align: center;
}
/* line 39, sass/organisms/_bullets.scss */
[data-organism="bullets"] li .image {
  display: block;
  height: 218px;
  margin: 0 auto;
  margin-bottom: -48px;
  position: relative;
}
/* line 46, sass/organisms/_bullets.scss */
[data-organism="bullets"] li .size {
  font-size: 4.9375em;
}
/* line 49, sass/organisms/_bullets.scss */
[data-organism="bullets"] li .model {
  font-size: 1.75em;
}
/* line 52, sass/organisms/_bullets.scss */
[data-organism="bullets"] li .type {
  font-size: 2em;
  text-transform: none;
}
/* line 57, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.smaller .size {
  font-size: 1.9375em;
}
/* line 60, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.smaller .image {
  margin-bottom: -18px;
}
/* line 63, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.smaller .model {
  font-size: 2.5em;
}
/* line 66, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.smaller .type {
  font-size: 2.4375em;
}
/* line 71, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.bigger .size {
  font-size: 5.4375em;
}
/* line 74, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.bigger .image {
  margin-bottom: -68px;
}
/* line 77, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.bigger .model {
  font-size: 2.375em;
}
/* line 80, sass/organisms/_bullets.scss */
[data-organism="bullets"] li.bigger .type {
  font-size: 1.9375em;
}
/* line 85, sass/organisms/_bullets.scss */
[data-organism="bullets"] li[data-atom="remington"] .image {
  width: 84px;
  background-position: 0 -434px;
}
/* line 91, sass/organisms/_bullets.scss */
[data-organism="bullets"] li[data-atom="winchester"] .image {
  width: 92px;
  height: 273px;
  background-position: 0 -873px;
}
/* line 98, sass/organisms/_bullets.scss */
[data-organism="bullets"] li[data-atom="russian"] .image {
  width: 98px;
  background-position: 0 0;
}
/* line 104, sass/organisms/_bullets.scss */
[data-organism="bullets"] li[data-atom="thumper"] .image {
  width: 85px;
  background-position: 0 -217px;
}
/* line 110, sass/organisms/_bullets.scss */
[data-organism="bullets"] li[data-atom="thumper2"] .image {
  width: 87px;
  height: 221px;
  background-position: 0 -652px;
}

/* line 1, sass/organisms/_famous.scss */
[data-organism="famous"] {
  background: #71625a;
}
/* line 3, sass/organisms/_famous.scss */
[data-organism="famous"] h1 {
  color: white;
  font-size: 3.0625em;
  margin: 17px 0;
}
/* line 8, sass/organisms/_famous.scss */
[data-organism="famous"] p {
  font-family: "Merriweather Light", Times, "Times New Roman", serif;
  color: white;
  font-size: 1.625em;
  line-height: 140%;
}
/* line 14, sass/organisms/_famous.scss */
[data-organism="famous"] a {
  display: block;
  margin-top: 40px;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 20, sass/organisms/_famous.scss */
[data-organism="famous"] .img-wrap {
  position: relative;
}
/* line 23, sass/organisms/_famous.scss */
[data-organism="famous"] .img-wrap img {
  width: 100%;
}
/* line 27, sass/organisms/_famous.scss */
[data-organism="famous"] .content {
  padding: 0 10px 20px;
}
/* line 33, sass/organisms/_famous.scss */
[data-organism="famous"] .hover-content-fold {
  width: 142px;
  height: 142px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
/* line 40, sass/organisms/_famous.scss */
[data-organism="famous"] .hover-content-fold:hover {
  width: 300%;
  height: 300%;
  -webkit-transition: ease 1.5s;
  -moz-transition: ease 1.5s;
  -o-transition: ease 1.5s;
  transition: ease 1.5s;
}
/* line 46, sass/organisms/_famous.scss */
[data-organism="famous"] .hover-content {
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
/* line 54, sass/organisms/_famous.scss */
[data-organism="famous"] .hover-content iframe {
  left: 17px;
  position: relative;
}
/* line 58, sass/organisms/_famous.scss */
[data-organism="famous"] .hover-content:hover {
  width: 100%;
  height: 100%;
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
}
/* line 62, sass/organisms/_famous.scss */
[data-organism="famous"] .hover-content:hover iframe {
  left: 0;
}

/* line 1, sass/organisms/_feature.scss */
[data-organism="feature"] {
  position: relative;
  margin-top: -457px;
  margin-left: -27px;
}
/* line 5, sass/organisms/_feature.scss */
[data-organism="feature"] h1 {
  color: #fdcd84;
  font-size: 4.6875em;
  line-height: 110%;
  position: relative;
}
/* line 10, sass/organisms/_feature.scss */
[data-organism="feature"] h1:before {
  content: 'Feature';
  display: block;
  font-size: 0.1875em;
  line-height: 130%;
  font-family: "Merriweather Light", Times, "Times New Roman", serif;
  color: #cbb8a0;
}
/* line 19, sass/organisms/_feature.scss */
[data-organism="feature"] p {
  font-size: 1.5625em;
  font-family: "Merriweather Light", Times, "Times New Roman", serif;
}
/* line 23, sass/organisms/_feature.scss */
[data-organism="feature"] .img-wrap {
  position: relative;
}
/* line 25, sass/organisms/_feature.scss */
[data-organism="feature"] .img-wrap:before {
  width: 196%;
  height: 15%;
  content: '';
  position: absolute;
  left: -89%;
  bottom: -12%;
  background: -webkit-gradient(radial, ellipse farthest-corner, 0, ellipse farthest-corner, 36, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(36%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 36%);
  background: -moz-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 36%);
  background: -o-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 36%);
  background: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 36%);
}
/* line 35, sass/organisms/_feature.scss */
[data-organism="feature"] img {
  display: block;
  margin: 0 0 -238px -100px;
  border: 9px solid #f7f0de;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* line 1, sass/organisms/_newspaper.scss */
[data-organism="newspaper"] {
  padding-right: 30px;
}
/* line 3, sass/organisms/_newspaper.scss */
[data-organism="newspaper"] h1 {
  color: black;
  font-size: 4.9375em;
  margin: 0;
  border-bottom: 21px solid black;
}
/* line 9, sass/organisms/_newspaper.scss */
[data-organism="newspaper"] h2 {
  font-size: 2.1875em;
  border-bottom: 3px solid black;
  font-family: "Oswald", Arial, sans-serif;
  margin: 0;
  padding-bottom: 8px;
}
/* line 16, sass/organisms/_newspaper.scss */
[data-organism="newspaper"] .content {
  margin-top: 10px;
}
/* line 19, sass/organisms/_newspaper.scss */
[data-organism="newspaper"] p {
  display: inline;
  font-size: 1.375em;
  line-height: 130%;
  font-family: "Merriweather Light", Times, "Times New Roman", serif;
}
/* line 24, sass/organisms/_newspaper.scss */
[data-organism="newspaper"] p:before {
  content: '\2022 ';
  font-family: "Lato", Arial, sans-serif;
}
/* line 29, sass/organisms/_newspaper.scss */
[data-organism="newspaper"] p:first-child:before {
  content: '';
}

/* line 2, sass/organisms/_sideoff.scss */
[data-organism="sideoff"] h2 {
  color: #24795a;
  font-size: 1.3125em;
  font-family: "Oswald", Arial, sans-serif;
  margin-bottom: 10px;
}
/* line 8, sass/organisms/_sideoff.scss */
[data-organism="sideoff"] p {
  margin-top: 10px;
  font-size: 0.875em;
  line-height: 140%;
}
/* line 13, sass/organisms/_sideoff.scss */
[data-organism="sideoff"] img {
  margin: 12px 0 -30px;
  position: relative;
}

/* line 2, sass/organisms/_skewed.scss */
[data-organism="skewed"] h1 {
  color: rgba(160, 180, 192, 0.7);
  font-size: 5.125em;
  background: url(../images/structure/graphic_skewed.png) no-repeat;
  padding: 50px 60px 150px;
  margin: -50px -30px -150px;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}
/* line 10, sass/organisms/_skewed.scss */
[data-organism="skewed"] p {
  color: #5e6c74;
  font-size: 1em;
  line-height: 140%;
  font-family: "Lora Italic", Times, "Times New Roman", serif;
  margin: 20px 0;
}
/* line 16, sass/organisms/_skewed.scss */
[data-organism="skewed"] p.skewright {
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
}
/* line 19, sass/organisms/_skewed.scss */
[data-organism="skewed"] p.skewleft {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

/* line 3, sass/organisms/_tickets.scss */
[data-organism="tickets"] {
  background: #3a83bb;
  padding: 0 15px;
}
/* line 6, sass/organisms/_tickets.scss */
[data-organism="tickets"] figure {
  position: relative;
}
/* line 8, sass/organisms/_tickets.scss */
[data-organism="tickets"] figure:before {
  width: 140%;
  height: 15%;
  content: '';
  position: absolute;
  left: -20%;
  bottom: -6%;
  background: -webkit-gradient(radial, ellipse farthest-corner, 0, ellipse farthest-corner, 70, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(70%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
  background: -moz-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
  background: -o-radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
  background: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 70%);
}
/* line 17, sass/organisms/_tickets.scss */
[data-organism="tickets"] figure img {
  margin: -50px auto 0;
  display: block;
}
/* line 22, sass/organisms/_tickets.scss */
[data-organism="tickets"] h1 {
  color: white;
  font-size: 2em;
  border-bottom: 8px solid #5c9bcc;
  line-height: 90%;
  padding-bottom: 10px;
}
/* line 28, sass/organisms/_tickets.scss */
[data-organism="tickets"] h1 small {
  font-size: 70%;
}
/* line 32, sass/organisms/_tickets.scss */
[data-organism="tickets"] h2 {
  color: #5c9bcc;
  text-transform: uppercase;
  font-family: "Oswald", Arial, sans-serif;
  margin: 0;
  font-size: 2em;
}
/* line 38, sass/organisms/_tickets.scss */
[data-organism="tickets"] h2 small {
  font-size: 40%;
  display: block;
}
/* line 43, sass/organisms/_tickets.scss */
[data-organism="tickets"] i {
  font-family: "Lora Italic", Times, "Times New Roman", serif;
  color: white;
}
/* line 47, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside {
  border-top: 3px dashed #1d415d;
  position: relative;
  margin: 0 -6.5%;
}
/* line 51, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside .aside-content {
  margin: 25px 6.5%;
  position: relative;
}
/* line 55, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside.special {
  text-align: center;
}
/* line 57, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside.special h2 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 auto;
  position: relative;
}
/* line 61, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside.special h2 small {
  position: relative;
  padding: 0 10px;
  background: #3a83bb;
}
/* line 66, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside.special h2:before {
  height: 12px;
  display: block;
  content: '';
  background: #5c9bcc;
  position: absolute;
  top: 4px;
  left: 0;
  width: 180%;
  margin: 0 -40%;
}
/* line 79, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside.special span,
[data-organism="tickets"] aside.special time {
  font-size: 1.6875em;
  text-transform: uppercase;
  display: block;
}
/* line 83, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside.special span.country,
[data-organism="tickets"] aside.special time.country {
  font-size: 1.8125em;
}
/* line 87, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside.special time {
  font-size: 2.5em;
}
/* line 91, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside:before {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  background: #3475a8;
}
/* line 100, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside meter {
  width: 100%;
  margin-top: 20px;
}
/* line 105, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside span,
[data-organism="tickets"] aside time {
  font-family: "Oswald", Arial, sans-serif;
  color: white;
}
/* line 108, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside span.country,
[data-organism="tickets"] aside time.country {
  color: #5c9bcc;
}
/* line 111, sass/organisms/_tickets.scss */
[data-organism="tickets"] aside span.value,
[data-organism="tickets"] aside time.value {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 3.375em;
}

/* line 2, sass/organisms/global/_header.scss */
[data-organism="global--header"] h1 {
  color: white;
  font-size: 17.4375em;
  line-height: 80%;
  font-family: "Lato Hairline", Arial, sans-serif;
  margin: 0 -50px;
  position: relative;
  padding-bottom: 150px;
  z-index: 10;
  right: -44px;
}
/* line 14, sass/organisms/global/_header.scss */
[data-organism="global--header"] .grid__cell:first-child {
  position: relative;
}
/* line 16, sass/organisms/global/_header.scss */
[data-organism="global--header"] .grid__cell:first-child:before {
  background: #cdc9dd;
  width: 900%;
  height: 100%;
  content: '';
  position: absolute;
  right: 57px;
  top: 0;
}
/* line 27, sass/organisms/global/_header.scss */
[data-organism="global--header"] .volume {
  color: #b0aeb8;
  font-family: "Lora Italic", Times, "Times New Roman", serif;
  text-transform: uppercase;
  font-size: 0.75em;
  position: relative;
  top: 91px;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
