//
//base global styles go here, for all "templates"
//

html {
	overflow-y: auto;
}

body {
	font-family: $font_sans-serif;
	color: $color_text;
	@media screen and (max-width: $width_page-max + 1){
		> .page-width {
			overflow: hidden;
		}
	}
}

.screenreader {
	display: none;
}

.page-width {
	max-width: $width_page-max;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

//
//global typography, for all "templates"
//
a {
	text-decoration: none;
	@include transition(.3s);
	img {
		@include transition(.3s)
	}
	&:hover {
		@include opacity(.8);
		img {
			@include opacity(.8);
		}
	}
}

h1 {
	text-transform: uppercase;
	font-family: $font_sans-serif--heading;
	font-weight: normal;
}

.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}

.fullwidth {
	max-width: 102%;
	margin: 0 -1%;
	width: 102%;
}

//
//functionalionality that can potentially be used in any "templates"
//

//fullscreen settings
.fullscreen-bg {
	img {
		/* Set rules to fill background */
		min-height: 100%;
		min-width: $width_page-max;
		
		/* Set up proportionate scaling */
		width: 100%;
		height: auto;
		
		/* Set up positioning */
		position: fixed;
		top: 0;
		left: 0;
	}
	@media screen and (max-width: $width_page-max){
		img {
			left: 50%;
			margin-left: -($width_page-max/2); 
		}
	}
}