//
//color options
//

$color_text: black;

//
//font options
//

//what are our site fonts?
$font_serif: "Merriweather Light", Times, "Times New Roman", serif;
$font_serif--heading: "Lora", Times, "Times New Roman", serif;
$font_serif--bold: "Merriweather Black", Times, "Times New Roman", serif;
$font_serif--italic: "Lora Italic", Times, "Times New Roman", serif;
$font_serif--italic-bold: "Lora Bold Italic", Times, "Times New Roman", serif;
$font_sans-serif: "Lato", Arial, sans-serif;
$font_sans-serif--bold: "Lato Bold", Arial, sans-serif;
$font_sans-serif--light: "Lato Hairline", Arial, sans-serif;
$font_sans-serif--heading: "Oswald", Arial, sans-serif;

//
//path options
//

//what are our general paths?
$path_img: '../images/structure';

//
//layout options
//

//what is the max page width?
$width_page-max: 980px;

//what are some main break points?
$mq_nondesktop: 600px;


//what should the grid gutter be?
$grid-gutter: 2%; // can be px, em, or %

//grid: partial, in order to overwrite the default gutter
@import "../../bower_components/griddle/griddle";

//what grid systems do we want?
@include griddle-build(12 5);

.grid__cell {
	word-wrap: break-word;

	//should the columns expand on nondesktops? 
	@media (max-width: $mq_nondesktop) {
		width: 100%;
		display: block !important;   
	}
}

//
//size options
//

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em
}


//
//sprites
//

$bulletSprite-spacing: 7px;
$bulletSprite-layout: smart;
@import "bulletSprite/*.png";