[data-organism="global--header"] {
	h1 {
		color: white;
		font-size: em(279);
		line-height: 80%;
		font-family: $font_sans-serif--light;
		margin: 0 -50px;
		position: relative;
		padding-bottom: 150px;
		z-index: 10;
		right: -44px;
	}
	.grid__cell {
		&:first-child {
			position: relative;
			&:before {
				background: #cdc9dd;
				width: 900%;
				height: 100%;
				content: '';
				position: absolute;
				right: 57px;
				top: 0;
			}
		}
	}
	.volume {
		color: #b0aeb8;
		font-family: $font_serif--italic;
		text-transform: uppercase;
		font-size: em(12);
		position: relative;
		top: 91px;
	}
}